article.section-content{
    flex-container(flex-start, row, center, wrap)
    padding (45px - 14px) 180px
    .section-content_card{
        flex-container(center, column, center, nowrap)
        background $c-white
        border 2px solid $c-gray
        border-radius 10px
        height auto
        margin 14px 10px
        width 360px
        header.card-header{
            flex-center()
            border-bottom 2px solid $c-gray
            height 200px
            width 90%
            img{
                height 111px
                width auto
            }
            &.big-img{
                img{
                    height 70px
                    width auto
                }
            }
        }
        .card-block{
            padding 22px 5%
            width 100%
            h4{
                color $c-black
                font-size 34px
                font-weight 900
            }
            .card-intel{
                flex-container(flex-start, row, flex-start, nowrap)
                padding 10px 0
                width 100%
                .left{
                    font-size 20px
                    font-weight 300
                    text-align right
                    width 75px
                    p{
                        color $c-text
                        margin 15px 0 
                    }
                }
                .right{
                    font-size 20px
                    font-weight 300
                    margin-left 30px
                    overflow hidden
                    text-align left
                    width 100%
                    p{
                        color $c-black
                        margin 15px 0
                        text-overflow ellipsis
                        white-space nowrap
                    }
                }
            }
            footer{
                flex-container(center, row, space-between, nowrap)
                p{
                    color $c-black
                    font-size 27px
                    font-weight 700
                    opacity .5
                }
                .user{
                    position relative
                    img{
                        border 1px solid $c-white
                        border-radius 10px
                        height 70px
                        width 70px
                    }
                    span{
                        flex-center()
                        background $c-green
                        border 1px solid $c-white
                        border-radius 50%
                        color $c-white
                        height 42px
                        left 0
                        position absolute
                        top 50%
                        transform translateX(-50%)
                        width 42px
                    }
                }
            }
        }
        &.won{
            .card-header{
                border-bottom 0px solid transparent
            }
            .card-block{
                background $c-green
                h4{
                    color $c-white
                }
                .card-intel{
                    p{
                        color $c-white
                    }
                }
                footer{
                    p{
                        color $c-white
                        opacity 1
                    }
                }
            }
        }
        &.lost{
            .card-header{
                border-bottom 0px solid transparent
            }
            .card-block{
                background $c-light
                h4{
                    color $c-text
                }
                .card-intel{
                    p{
                        color $c-text
                    }
                }
                footer{
                    p{
                        color $c-text
                        opacity .35
                    }
                }
            }
        }
    }
}