header.section-header{
    flex-container(center, row, flex-start, nowrap)
    background $c-white
    height 74px
    overflow hidden
    position relative
    width 100vw
    .section-header_filter{
        flex-container(center, row, center, nowrap)
        background $c-black
        border 0
        border-top 3px solid black
        color $c-white
        font-size 20px
        height 100%
        width 146px
        svg{
            fill $c-white
            transform rotate(90deg)
            height 50px
            margin-right 5px
        }
    }
    .section-header_badge{
        flex-center()
        background $c-background
        border-radius 20px
        color $c-black
        font-weight 600
        height 45px
        margin 0 35px 0 25px
        width 80px
    }
    .section-header_text{
        color black
        font-size 20px
        font-weight 600
        margin 0 33px 0 0
    }
    .section-header_deals-btns{
        flex-container(center, row, center, nowrap)
        margin-right 23px
        .select-btn{
            flex-center()
            border 2px solid $c-gray
            height 58px
            width 74px
            &:first-child{
                border-right 0px solid transparent
                border-radius 5px 0 0 5px
            }
            &:nth-child(2){
                border-radius 0
            }
            &:last-child{
                border-left 0px solid transparent
                border-radius 0 5px 5px 0
            }
            svg{
                fill $c-black
                height 28px
                width auto
            }
            &.current{
                background $c-blue
                box-shadow inset 0 2px 5px rgba(0,0,0,0.25)
                svg{
                    fill $c-white
                }
            }
        }
    }
    .section-header_vertical-hr{
        background $c-gray
        height 100%
        margin-right 26px
        width 1px 
    }
    .section-header_search{
        flex-container(center, row, flex-start, nowrap)
        width 300px
        input{
            border 0 solid transparent
            color $c-gray
            font-size 24px
            margin-left 20px
            padding 10px 0
            &:focus,
            &:active{
                outline none
            }
            &::placeholder{
                color $c-gray
            }
        }
        svg{
            fill $c-gray
            height 32px
            width auto
        }
    }
    .section-header_select{
        -webkit-appearance none
        background url(../assets/arrow-select.png) 90% center no-repeat
        border 1px solid $c-green
        color $c-green
        font-family $f-lato
        font-size 22px
        font-weight 300
        height 57px
        letter-spacing 1px
        outline none
        padding 0 30px
        position absolute
        right 39px
        top 50%
        transform translateY(-50%)
        width 280px !important
    }
}