nav.nav{
    flex-container(center, row, space-between, nowrap)
    background $c-black
    border-bottom 6px solid $c-blue
    height 110px
    overflow hidden
    padding 0 30px
    width 100vw
    .nav-logo-container{
        flex-container(center, row, flex-start, nowrap)
        h1{
            color $c-green
            font-size 48px
            font-weight 300
            margin-top 20px
        }
        img{
            height 87px
            width auto
        }
    }
    .nav-menu{
        flex-container(flex-end, row, flex-end, nowrap)
        height 100%
        .nav-menu_item{
            flex-container(center, row, flex-end, nowrap)
            height 100%
            .nav-menu_item-single{
                align-self flex-end 
                background $c-black-light
                border-radius 10px 10px 0 0
                height 70px
                margin-left 15px
                transition background .25s ease-in-out
                &:first-child{
                    margin-left 0
                }
                &.current{
                    background $c-blue !important
                }
                a{
                    flex-container(center, row, center, nowrap)
                    color $c-white
                    font-family $f-lato
                    font-size 24px
                    height 100%
                    letter-spacing 1px
                    padding 0 16px
                    text-decoration none
                    width 100%
                }
                &:hover{
                    background darken($c-blue, 25%)
                }
            }
        }
        .nav-menu_profile{
            flex-container(center, row, space-between, nowrap)
            margin-left 56px
            height 100%
            width 93px
            img{
                border 1px solid $c-white
                border-radius 10px
                height 72px
                width 72px
            }
            svg{
                fill $c-white
                height auto
                width 18px
                transform rotate(90deg)
            }
        }
    }
}