flex-container($align, $direction, $justify, $wrap){
    align-items $align
    display flex
    flex-direction $direction
    flex-wrap $wrap
    justify-content $justify
}
flex-center(){
    align-items center
    display flex
    flex-direction row
    justify-content center
}